body{
    font:20px arial, sans serif;
}

.navbar{
    background-color: #5FB404;
}
.quemsomos{
    background-color:gray;
    color: white;

}
.margin{
   padding-bottom: 50px;
   padding-top: 10px;
}

.parceiros{
    background-color: turquoise;
}

.bg-footer{
    background-color: black;
    color: white;
}
